---
layout: default
title: Tags
description: "An archive of posts sorted by tag."
comments: false
permalink: /tags/
---

<!-- site_tags will contain pairs of tag_lowercase;Tag_Original separated by commas ','
     Sorting this list will sort by lowercase version first so we get the desired case-insensitive order.
     When iterating these tags we split them by the semicolon and use the second element (original word)
     as the actual tag -->
{% capture site_tags %}{% for tag in site.tags %}{{ tag | first | downcase }};{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tags_list = site_tags | split:',' | sort %}

<ul class="inline-list">
  {% for item in (0..tags_list.size) %}{% unless forloop.last %}
    {% assign tag_pair = tags_list[item] | split:';' %}
    {% capture this_word %}{{ tag_pair[1] | strip_newlines }}{% endcapture %}
  	<li><a href="#{{ this_word }}" class="tag"><span class="term">{{ this_word }}</span> <span class="count">{{ site.tags[this_word].size }}</span></a></li>
  {% endunless %}{% endfor %}
</ul>

{% for item in (0..site.tags.size) %}{% unless forloop.last %}
  {% assign tag_pair = tags_list[item] | split:';' %}
  {% capture this_word %}{{ tag_pair[1] | strip_newlines }}{% endcapture %}
	<article>
	<h2 id="{{ this_word }}" class="tag-heading">{{ this_word }}</h2>
		<ul>
    {% for post in site.tags[this_word] %}{% if post.title != null %}
      <li><span class="post-date">{{ post.date | date:"%m/%d/%y" }}:</span> <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
    {% endif %}{% endfor %}
		</ul>
	</article><!-- /.hentry -->
{% endunless %}{% endfor %}