---
---
@import "_more_mixins";

$base-color : #747474;


.inline-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  li {
    list-style-type: none;
    display: inline;
  }
}


.tag {
    text-transform: lowercase;
    display: inline-block;
    font-size: small;
    margin: 4px;
    @include rounded(3px);
    background-color: lighten($base-color,50);
    span {
      color: #808080;
      float: left;
      padding: 2px 6px;
    }
    .count {
      background-color: lighten($base-color,48);
      @include border-radius(3px,3px,0,0);
    }
    &:hover {
      background-color: lighten($base-color,48);
      span {
        color: #404040;
      }
    }
  }


.photo {
  padding: 10px 10px 20px 10px;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 15px #ddd;
  -moz-box-shadow: 0px 2px 15px #ddd;
  -webkit-transform: rotate(-2deg);
}


.float-right {
  float: right;
  right: 0;
}


.float-center {
  text-align: center;
}
