.inline-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  li {
    list-style-type: none;
    display: inline;
  }
}

$base-color : #747474;

.tag {
    text-transform: lowercase;
    display: inline-block;
    font-size: small;
    margin: 4px;
    @include rounded(3px);
    background-color: lighten($base-color,50);
    span {
      color: #808080;
      float: left;
      padding: 2px 6px;
    }
    .count {
      background-color: lighten($base-color,48);
      @include border-radius(3px,3px,0,0);
    }
    &:hover {
      background-color: lighten($base-color,48);
      span {
        color: #404040;
      }
    }
  }

.photo {
  padding: 10px 10px 20px 10px;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 15px #ddd;
  -moz-box-shadow: 0px 2px 15px #ddd;
  -webkit-transform: rotate(-2deg);
}


.float-right {
  float: right;
  right: 0;
}


.no-border {
  border-style: none;
}

table, .no-border {
  th {
    @extend .no-border;
  }

  td {
    @extend .no-border;
  }
}

table, .curriculum-vitae {
  th {
    @extend .no-border;
    vertical-align: top;
  }

  td {
    @extend .no-border;
    vertical-align: top;

    &.date {
      font-weight: 400;
      white-space: nowrap;
    }
  }
}


#markdown-toc {
  padding: 16px 16px 16px 16px;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 2px #ddd;
  font-size: 0.75em;
  line-height: 1.5em;
  display: inline-block;

  li {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }
}

.h2, i.fa {
  font-size: 0.5em;
  vertical-align: middle;
}