---
---

@import "{{ site.theme }}";
@import "navigation";

$base-color : #252525;

body {
  font-size:18px;
}

h1 {
  font-size:30px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 20px;
  line-height: 26px;
}

a {
  color:#f6d57a;
  font-weight:500;
  text-decoration:none;

  &:hover {
    color: #ffeb9b;
  }

  small {
    font-size:14px;
  }
}

code {
  font-size:16px;
  padding: 0px 0px;
}

blockquote {
  font-size:14px;
  code {
    font-size:12px;
  }
}

details {
  padding-bottom:16px;
}

ul {
  list-style-image:unset;
}

.post-date {
  font-size:11px;
  color:#666;
}

.inline-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  li {
    list-style-type: none;
    display: inline;
  }
}

.tag {
    text-transform: lowercase;
    display: inline-block;
    font-size: small;
    margin: 4px;
    background-color: darken($base-color,30);
    span {
      color: #808080;
      float: left;
      padding: 2px 6px;
    }
    .count {
      background-color: darken($base-color,48);
    }
    &:hover {
      background-color: darken($base-color,48);
      span {
        color: #404040;
      }
    }
  }