---
---

@import "{{ site.theme }}";

body {
  font-size:18px;
}

h1 {
  font-size:30px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 20px;
  line-height: 26px;
}

a small {
  font-size:14px;
}

code {
  font-size:16px;
}

.post-date {
  font-size:11px;
  color:#666;
}